.animation {

    .circle {
        width: 100px;
        height: 100px;
        background-color: black;
        border-radius: 50%;

        animation-duration: 1s;
        animation-iteration-count: infinite;


    }

    .circle-1 {}

    .circle-2 {}

    .circle-3 {}

    .circle-4 {}

    .circle-5 {}
}

/* ciclo for */
@for $iterator from 1 through 5 {

    /* interpolacion de variable en sass. Seleccionar .circle-1 al -circle-5 */
    .circle-#{$iterator} {
        color: $color-secondary;

        animation-name: animacion#{$iterator};
        animation-direction: alternate;

        @keyframes animacion#{$iterator} {
            100% {
                transform: translateX(50% * $iterator);
            }
        }

        @if $iterator==5 {
            animation-direction: alternate-reverse;
        }

    }


}