/* 
    Colores
*/
$color1: #ff00008f;
/* Havelock Blue #4b91e2 rgb(75, 145, 226) */
$color-primary: #4b91e2;
$color-primary-transparent: rgba(75, 145, 226, 0.5);
/* Mountain Meadow #1abc9c rgb(26, 188, 156) */
$color-secondary: #1abc9c;
$color-secondary-transparent: rgba(26, 188, 156, 0.5);
/* Cinnabar #e74d3c rgb(231, 77, 60) */
$color-alternative: #e74d3c;
/* Pickled Bluewood #2b3d4f rgb(43, 61, 79) */
$color-bg: #2b3d4f;

$separacion: 2rem;
$redondeo: 1rem;